* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
  font-family: "Urbanist", sans-serif;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  /* position: sticky;
  top: 0;
  left: 0;
  right: 0; */
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: white;
  max-height: 55px;
}

.brand-title {
  font-size: 1.4rem;
  letter-spacing: 2px;
  margin: 0.5rem 1.3rem;
}

.nav-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  margin: 0 1rem;
  padding: 1rem;
  display: block;
  letter-spacing: 1px;
}

.nav-links li:hover {
  background-color: rgb(80, 69, 69);
}

.nav-links li a:hover {
  color: azure;
}

.toggle-button {
  position: absolute;
  color: white;
  right: 1.5rem;
  top: 0.6rem;
  display: none;
}

.main-content {
  background-image: url("images/snow.jpg");
  background-position: center;
  background-size: cover;
  /* filter: blur(0.2px); */
  height: 95vh;
}

.main-text {
  position: absolute;
  top: 50%;
  left: 30%;
  font-size: 2rem;
}

.footer-main {
  display: flex;
  background-color: #e7eeeeee;
  min-height: 60px;
}

.footer-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-image {
  height: 50px;
  margin: 0.5rem 2rem;
}

.copy-msg {
  display: flex;
  justify-content: center;
  background-color: #000000ee;
  color: white;
}

/* Mobile view */
@media (max-width: 700px) {
  .toggle-button {
    display: block;
  }

  .nav-links {
    display: none;
    width: 100%;
    background-color: #000000;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links ul {
    flex-direction: column;
    width: 100%;
  }

  .nav-links li a {
    margin: auto;
  }

  .nav-links.active {
    display: flex;
  }

  .main-text {
    position: absolute;
    top: 40%;
    left: 20%;
    font-size: 2rem;
  }

  .brand-image {
    height: 50px;
    margin: 0.5rem 1rem;
  }

  .copy-msg {
    display: flex;
    justify-content: center;
    background-color: #000000ee;
    color: white;
    font-size: 0.8rem;
  }
}
